#root{

    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 100;

}

html, body{

    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;

}

body::before{
    
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5); /* затемнение 50% */
    z-index: -1;

}